<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/public/images/plantcare-logo.png" alt="PlantCare Logo" class="navbar-logo">
      
    </a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="btn btn-success mx-2" href="/join-now">Join Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how-it-works">How it works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
    </ul>
  </div>
</nav>