.home-actions h2 {
  font-weight: 600;
}   
.navbar-logo {
  height: 28px !important; 
  width: auto !important;
}

.navbar {
  height: auto !important;
}
gnup-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.signup-card {
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.signup-card img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.signup-card label {
  font-weight: 600;
  margin-bottom: 5px;
}

.signup-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.img2 {
  max-height: 300px; /* ajusta según diseño */
  width: auto;
  display: block;
  margin: 0 auto;
}
.img3 {
 width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* === LOGIN PAGE STYLES === */

.login-wrapper {
    min-height: 100vh;
    display: flex;
}

.login-left {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
}

.login-right {
    flex: 1;
    background: #e9f7ef; /* tono verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-img {
    width: 90%;
    max-width: 500px;
}

.login-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #004d40;
    margin-bottom: 15px;
}

.login-sub {
    font-size: 1.1rem;
    color: #004d40;
    margin-bottom: 40px;
}

.btn-login-custom {
    width: 100%;
    background-color: #004d40;
    color: white;
    padding: 12px 0;
    border-radius: 6px;
    font-size: 1.1rem;
}

.btn-login-custom:hover {
    background-color: #00352d;
    color: #fff;
}

.login-input {
    height: 50px;
    border-radius: 8px;
    padding: 10px 15px;
}
